body{

    background-color: black;
}

.azul{

    background-color:blue;

}

.blanco{

    background-color:cornsilk;

}

.rojo{

    background-color:red;

}

div {
    border: 5px;
    border-style: solid;
    margin: 10px 20px 5px 15px;
    height: 200px;
    width: 200px;
    display:inline-block;

}